<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AlwaysLoadedChecker.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <AlwaysLoadedChecker.Properties.Settings>
            <setting name="SavedGameDir" serializeAs="String">
                <value>C:\Program Files (x86)\Steam\steamapps\common\HatinTime</value>
            </setting>
            <setting name="SavedCookedPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedCompiledPath" serializeAs="String">
                <value />
            </setting>
            <setting name="SavedRadioButtonIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </AlwaysLoadedChecker.Properties.Settings>
    </userSettings>
</configuration>